
<div class="container mt-4" >
    <div class="col-md-8 offset-md-3">
<h2>User Detail</h2><br>
<div>
    <div>
        <label><b>Email : </b></label>{{user.email}}<br><br>
    </div>
    <div>
        <label><b>FirstName : </b></label>{{user.firstname}}<br><br>
    </div>
    <div>
        <label><b>LastName : </b></label>{{user.lastname}}<br><br>
    </div>
    <div>
        <label><b>Age : </b></label>{{user.age}}<br><br>
    </div>
    <div class="container">
        <a class="btn btn-success" routerLink="/Users">BackToHomePage</a>
    </div>
   
</div>
</div>
</div>