<div class="container mt-5">
    <div class="col-lg-11">
        <table class="table">
            <thead>
                <tr class= "bg-dark text-light">
                    <td>ID</td>
                    <td>Email</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Age</td>
                    <td class="mr-2"></td>
                    <td>Action</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.age}}</td>
                    <td><button class="btn btn-info" (click)= "updateUser(user.id)">Update</button></td>  
                    <td><button class="btn btn-danger" (click)= "deleteUser(user.id)">Delete</button></td>  
                    <td><button class="btn btn-info" (click)= "viewUser(user.id)">Show</button></td>    
                </tr>
            </tbody>
        </table>
    </div>
</div>
